body {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  .workingArea {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
  .tools {
    display: flex;
    flex-direction: column;
    background-color: gold;
    width: 300px;
  }
  
  .drawingPad {
    width: 960px;
    height: 960px;
    background-color: cyan;
    display: grid;
    
  }
  
  
  
  
  
  
  