body {
  display: flex;
  flex-direction: column;
  
}

h1 {
  display: flex;
  justify-content: center;
}

.workingArea {
  display: flex;
  flex-direction: row;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tools {
  display: flex;
  flex-direction: column;
  background-color: #FFDCA3;
  width: 200px;
  padding: 80px 30px;
}

.drawingPad {
  width: 960px;
  height: 960px;
  background-color: cyan;
  display: grid;
  
}






